* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,
body  {
  background-color: #111;
  height: 100%;
  width: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

}

.card {
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card p{
  margin: 20px 0px;
} 

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.card img{
  height: 100px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
   
}