* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  
}
html,
body  {
  height: 100%;
  width: 100%;
}

button {
  padding: 10px 20px;
  margin: 10px;
}

h1 {
  background-color: gainsboro;
  width: fit-content;
  font-size: 100px;
  margin: 10px;
  padding: 10px 70px;
}

.div1, .div2, .div3 {
  flex: 1; /* Allows both divs to grow and take up equal width */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}